li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: 100px;
    background-color: white;
    color: white;
    border: 5px solid black;
    border-radius: 10px;
    float: left;
    text-decoration: none;
}

h1 {
    float: left;
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color:red;
}

img {
    border-radius: 10px;
    border: 5px solid black;
    background-color: white;
}

a{
    text-decoration: none;
}

h2 {
    float: left;
    text-align: center;
    color: red;
}

h3 {
    float: left;
    text-align: center;
    color: red;
}

iframe {
    text-align: right;
    background-color: orange;
}

body {
    background-image: url("../img/nature2.jpg");
    background-size: 100%;
    margin: 0;
  }
